.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 3rem 1fr 3rem;
  grid-template-columns: 1fr;
  height: 100vh;
}

header {
  grid-area: "header";
  background-color: #203040;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0.4rem;
  a {
    color: #fff;
    text-decoration: none;
  }
}

a:hover {
  color: #ff8000;
}

main {
  grid-area: "main";
}

footer {
  grid-area: "footer";
  background-color: #203040;
  color: #fff;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}
